development:
  adapter: postgresql
  encoding:  utf-8
  database: fruehlance_development
  pool: 5
  username: postgres
  password: test
  host: localhost

test:
  adapter: postgresql
  encoding:  utf-8
  database: fruehlance_test
  pool: 5
  username: postgres
  password: test
  host: localhost