<div class="search-block">
  <h1>Find a Freelance Job</h1>
  <%= render 'offers/search_form' %>
</div>

<%if @offers.present?%>
  <%= render 'offers/search_results' %>
<%elsif params[:search].present?%>
  <%= render 'offers/no_search_results' %>
<%end%>
