#content {
  font-family: Tahoma;
}
#items_loading {
  position: absolute;
  display: none;
}
.clear {
  clear: both;
}
h1 {
  color: #888;
  text-align: center;
}
.mail {
  float: right;
  position: absolute;
  top: 6px;
  right: 10px;
  img {
    border: 0;
  }
}
.ui-tooltip {
  padding: 4px 6px;
  font-size: 12px;
}

#uparrow {
    background-image: image-url('uparrow.png');
    cursor: pointer;
    width: 66px;
    height: 67px;
    position: fixed;
    bottom: 30px;
    right:30px;
    display:none;
}