.search-block {
  width: 430px;
  margin: 0 auto 35px auto;
  input[type="checkbox"] {
    margin-top: 5px;
  }
}

.rss {
  float: right;
  img {
    height: 48px;
    border: 0;
  }
}

.source-options {
  margin-top: 7px;
}

#nothing_found {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 90px;
  text-align: center;
}

input[type="submit"] {
  width: 100px;
  height: 30px;
  font-size: 15px;
}
input[type="text"] {
  width: 300px;
  font-size: 16px;
  height: 25px;
}
#search_results {
  .search-result-item {
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 10px;
    margin-top: 15px;
    color: #011422;
    .scroll-arrow {
      float: right;
      text-decoration: none;
      color: #ccc;
      font-size: 20px;
    }
  }
  p {
    margin: 5px 0 10px 0;
  }
  h2 {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 5px 0;
    a {
      color: #4D4D4D;  
    }
  }
  .meta-data {
    color: #888;
    font-size: 11px;
    margin: 10px 0 8px 0;
    .separator {
      margin: 0 5px;
    }
  }
  .odd {
    background-color: #DDECEF;
  }
}