<div class="stat-info">The timezone that has been used on all of the charts is GMT +0</div>

<center>
  <div id="hourly_chart" class="chart"></div>
  <div id="daily_chart" class="chart"></div>
</center>